/out/production/RPC/com/gugawag/rpc/files/FilesService.class
/out/production/RPC/com/gugawag/rpc/files/AppFile.class
/out/production/RPC/com/gugawag/rpc/files/AppClientFile.class
/out/production/RPC/com/gugawag/rpc/files/FilesServiceServer.class
